 {% extends 'base.html.twig' %}

{% block body %}


<div class="container">
    <div class="row mt-5">
        <div class="col-10 mx-auto">
            <h1>Nombre d'artistes trouvés : 
             {{ artistes | length }}</h1>
             {% for artiste in artistes %}
             <span class="d-block">
               {{ artiste.name | upper }} - <b class="btn btn-primary p-1">{{ artiste.discs | length}}</b> disques
             </span>
            {% endfor %} 
        </div>
    </div>
</div>
    {# <div class="row text-center"> 

        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col-9 mx-auto mb-2 mt-4">
                {{ form_label(form.objet, 'Mon libellé à été modifié')}}
                {{ form_widget(form.objet,{'attr' : {'class' : 'btn-light'}})}}
                {{ form_errors(form.objet)}}
            </div>
            <div class="col-9 mx-auto mb-2">
                {{ form_row(form.email)}}
            </div>
            <div class="col-9 mx-auto mb-2">
                {{ form_row(form.message)}}
            </div>
        </div>
        {{ form_end(form)}}
    </div> #}
{% endblock %}


       
